@font-face {
  font-family: "Poppins Regular";
  src: './public/Poppins-Regular.woff'
}

@font-face {
  font-family: "Poppins Light";
  src: './public/Poppins-Light.woff'
}

@font-face {
  font-family: "Poppins Medium";
  src: './public/Poppins-Medium.woff'
}