@font-face {
  font-family: "Poppins Regular";
  src: url('./../assets/Poppins-Regular.woff')
}

@font-face {
  font-family: "Poppins Light";
  src: url('./../assets/Poppins-Light.woff')
}

@font-face {
  font-family: "Poppins Medium";
  src: url('./../assets/Poppins-Medium.woff')
}