.aboutus {
	position: relative;
	&-ctn {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 6rem;
        justify-content: center;
	}
	&-img {
		max-width: 40rem;
		img {
			height: 100%;
			width: 100%;
		}
	}
	&-content {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		&-heading {
			text-align: center;
		}
	}
	&-dots {
		position: absolute;
		right: 4rem;
		bottom: 4rem;
		height: 4rem;
		width: 4rem;
		background-image: url('/src/img/dots2.png');
		background-size: cover;
		background-position: center;
	}
}

@media (min-width: 768px) {
	.aboutus {
		&-ctn {
			flex-direction: row;
		}
		&-img {
			width: 50%;
			img {
				max-height: 40rem;
			}
		}
		&-content {
			width: 50%;
			&-heading {
				text-align: left;
			}
		}
	}
}
@media (min-width: 1200px) {
	.aboutus {
		&-content {
			width: 45%;
		}
	}
}
