@use '../utilities/colors' as *;
.breaker {
    position: relative;
    height: 40vh;
    background-image: url('../img/solar-panel.jpg');
    background-attachment: fixed;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 1.5rem;
    &-heading {
      font-size: 3rem;
      text-transform: uppercase;
      z-index: 2;
    }
    &-text {
      text-align: center;
      color: #D6D6D6;
      font-size: 1.5rem;
      z-index: 2;
    }
    &-btn {
      z-index: 2;
    }
    .section-shadow {
        z-index: 1;
    }

}