@use '../abstracts' as *;

.financing {
  overflow: hidden;
  .section-subheading {
    color: #000;
  }
  &-section-heading {
    text-align: center;
  }
  &-options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0 auto;
    max-width: 600px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 3rem;
  }
  &-option {
    width: max-content;
    padding: 1rem 2rem;
    border: 1px solid black;
    border-radius: 10px;
    &:nth-child(3) {
      border: 1px solid $orange-main;
    }
  }
  &-cofinances {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .info-and-options {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 2rem;
    }
    .options {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
  &-cofinance {
    padding: 2rem;
    border: 1px solid #868686;
    border-radius: 10px;
    &-text {
      margin: 2rem 0 1.5rem 1rem;
    }
    &-link {
      font-size: 1.5rem;
      color: $orange-darker;
    }
  }
  &-info {
    font-size: 1.6rem;
    padding: 2rem;
    border: 1px solid #c9c9c9;
    border-radius: 10px;
  }
}

.arrow.second {
  margin-bottom: 0;
}

@media (min-width: 576px) {
  .financing {
    &-cofinances {
      .info-and-options {
        flex-direction: row;
        flex-wrap: wrap;
        .financing-cofinance {
          width: Calc(50% - 1rem);
        }
      }
      .options {
        flex-direction: row;
      }
    }
  }
}

@media (min-width: 992px) {
  .financing {
    &-cofinances {
      flex-direction: row;
      .big-option {
        width: 33%;
        order: 1;
      }
      .info-and-options {
        width: 67%;
        flex-wrap: nowrap;
        flex-direction: column;
        order: 2;
      }
    }
  }
}