@use '../utilities/colors' as *;
.gallery {
	&-section-heading {
		text-align: center;
	}
	&-ctn {
		padding: 4rem 0rem;
		display: flex;
		flex-wrap: wrap;
		gap: 4rem;
		justify-content: center;
	}
	&-img {
		position: relative;
		height: 25rem;
		width: 25rem;
        cursor: pointer;

		img {
			border-radius: 10px;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	&-img::before {
		position: absolute;
		content: '';
		height: 5rem;
		width: 5rem;
		background-color: rgb(195, 195, 195);
		transition: background-color .3s;
		border-radius: 10px;
		top: -0.7rem;
		right: -0.7rem;
		z-index: -10;
	}
	&-img:hover::before {
		background-color: $main-color;
	}
}
