.pop-up {
	opacity: 0;
	display: none;
	position: fixed;
	height: 100vh;
	width: 100%;
	z-index: 200;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.37);
	padding: 1.5rem;
	&_img {
		min-height: 35rem;
		min-width: 80%;
		background-position: center;
		background-size: cover;
		position: relative;
		.mark {
			position: absolute;
			right: 1rem;
			top: 1rem;
			font-size: 2rem;
			border: none;
			width: 3rem;
			height: 3rem;
			color: white;
			background-color: #00000092;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
		}
		.next{
			position: absolute;
			bottom: 2rem;
			right: 2rem;
		}
		.prev {
			position: absolute;
			bottom: 2rem;
			left: 2rem;
		}
	}
  .button {
    font-size: 1rem;
  }
}

.show-pop-up {
	display: flex;
	animation: showPopUp 0.3s forwards;
}
.close-animation {
	opacity: 1;
	animation: rev 0.3s forwards;
}
@keyframes rev {
	to {
		opacity: 0;
	}
}
@keyframes showPopUp {
	to {
		opacity: 1;
	}
}
@media (min-width: 1200px) {
	.pop-up {
		.pop-up_img {
			min-width: 70%;
			height: 90vh;
		}
	}
}
