.services {
	height: 80vh;
	background: rgb(201, 93, 33);
	background: linear-gradient(
		90deg,
		rgba(201, 93, 33, 0.9009978991596639) 0%,
		rgba(125, 86, 111, 0.9682247899159664) 50%,
		rgba(48, 79, 191, 0.9037990196078431) 100%
	);
}
