@use '../abstracts' as *;

.steps {
    .section-heading {
        text-align: center;
        padding-block: 4rem;
    }
    .wrapper {
      max-width: 1000px;
    }
    background-image: url('https://assets.website-files.com/63ab2982e93ff83d0f984e57/63dbe4ab33f4834790bac50a_Grid%20bg.png');
    &-ctn {
        position: relative;
        padding-left: 8rem;
        display: flex;
        flex-direction: column;
        gap: 4rem;
        padding-bottom: 4rem;
    }
    &-ctn::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 3px;
        background-color: $blue-main;
        left: Calc(2.5rem - 1.5px);
    }
    &-ctn::after {
        content: '';
        position: absolute;
        bottom: 0%;
        height: 3px;
        width: 2rem;
        background-color: $blue-main;
        left: Calc(2.5rem - 1.5px);
    }
    &-step {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        &-heading {
            font-size: 2rem;
        }
        &-text {
            font-size: 1.4rem;
        }
    }
    &-step::before {
        content: '1';
        position: absolute;
        left: -8rem;
        height: 5rem;
        width: 5rem;
        top: -1rem;
        background-color: #fff;
        border-radius: 50%;
        border: 2px solid $blue-main;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;    
        padding: 1rem;  
    }
    &-step:nth-child(2)::before {
        content: '2';
    }
    &-step:nth-child(3)::before {
        content: '3';
    }
}
