.steps {
    .section-heading {
        text-align: center;
        margin-bottom: 4rem;
    }
    background-image: url('/src/img/bg.jpg');
    &-ctn {
        position: relative;
        padding-left: 12rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

    }
    &-ctn::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 3px;
        background-color: blue;
        left: 6rem;
    }
    &-ctn::after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 3px;
        width: 2rem;
        background-color: blue;
        left: 6rem;
    }
    &-step {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        &-heading {
            font-size: 2rem;
        }
        &-text {
            font-size: 1.4rem;
        }
    }
    &-step::before {
        content: '1';
        position: absolute;
        left: -8.5rem;
        height: 5rem;
        width: 5rem;
        top: -1rem;
        background-color: #fff;
        border-radius: 50%;
        border: 2px solid blue;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;    
        padding: 1rem;  
    }
    &-step:nth-child(2)::before {
        content: '2';
    }
    &-step:nth-child(3)::before {
        content: '3';
    }
}
